<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/koglesby">Kevin Oglesby</a>: a human from Davis, California.
  </p>
  <p>
    Kevin likes the grimmest ov blak metal. He started learning how to code in 2016.
  </p>
  <p>
    You may contact Kevin <a href="mailto:kevinjoglesby@gmail.com" class="contact-link">here</a> if you wish.
  </p>
  


  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'corpse_paint_kevin.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Kevin Oglesby</h2>
    <br />
    <p>
      Kevin is a pretty cool guy who has been known to put on corpse paint and run around the wilderness.
    </p>
  </div>
  <br class="clear" />

  <div class="col-xs-12 col-sm-4" style="padding-top:30px;">
    <%= image_tag 'alice_in_co.jpg', class: 'img-responsive' %>
  </div>
  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Alice</h2>
    <br />
    <p>
      Kevin's loyal beast, Alice, accompanies Kevin on his journeys, and senses when there is trouble afoot.
    </p>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />